body {
    font-family: Arial, sans-serif;
    background-color: #383838;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #636161;
    padding: 20px;
    text-align: center;
}

h1 {
    color: rgb(76, 76, 231);
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
}

label, select, input, button {
    display: block;
    margin-bottom: 10px;
}

label {
    color: rgb(77, 77, 207);
}

select, input {
    width: 100%;
    padding: 10px;
    background-color: #666;
    border: none;
    color: #fff;
}

button {
    background-color: #00f;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0000cc;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #444;
    color: rgb(152, 152, 243);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}